<div style="text-align: center;">
  <h1>new-component works!</h1><br>
  <div class="col">
    <label>
      <input [(ngModel)]="name" placeholder="name" type="text">
    </label><br>
    <label>
      <input [(ngModel)]="age" placeholder="age" type="text">
    </label><br><br>
    <button [disabled]="!isAlive" class="btn btn-primary" (click)="onClick()"> click it</button>
    <h1> Title</h1>
    <p *ngIf="clicked; else noServer" >{{click}}</p><br>
    <ng-template #noServer>
      <p>There is no click found</p>
    </ng-template>
    NAME:{{ name }}<br>
    AGE:{{age}}

    <div *ngFor="let names of listOfNames">
      {{names}}
    </div>
  </div>
</div>





